<mat-card class="{{ disabled ? 'collapsed' : ''}}">
    <mat-card-title (click)="disable()">
        {{ruleName == null ? 'null' : ruleName}}
    </mat-card-title>
    <mat-card-content *ngIf="!disabled">
        <form class="form-group">
            <label class="form-item" *ngFor="let level of availableLevels">
                <input [(ngModel)]="selected" required type="radio" [value]="level" [name]="ruleName" (change)="setLevel()" 
                    [disabled]="!checked" #levelRadio="ngModel">
                    {{ level }}
            </label>
            <div class="values-container mat-elevation-z4">
                <input [(ngModel)]="value" ngModel name="newAcceptedValue" type="text" required minlength="1"
                    pattern="[0-9]+" #acceptedValue="ngModel" [disabled]="checked">
                <mat-select ngModel class="mat-elevation-z4" name="timeUnitValue" #timeUnit="ngModel" required minlength="1" 
                    [(ngModel)]="timeUnitValue" [disabled]="checked" placeholder="time unit">
                    <mat-option *ngFor="let unit of validTimeUnits" [value]="unit">
                        {{ unit }}
                    </mat-option>
                </mat-select>
                <button class="add-button {{ acceptedValue.valid && timeUnit.valid ? '' : 'disabled'}}" mat-icon-button
                    color="basic" [disabled]="!acceptedValue.valid || !timeUnit.valid" #addButton
                    (click)="checked = true">
                    <mat-icon>check</mat-icon>
                </button>
                <button class="edit-button {{ !checked ? 'disabled' : ''}}" mat-icon-button
                    color="basic" [disabled]="!checked" #editButton
                    (click)="checked = false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="alert alert-danger" *ngIf="acceptedValue.touched && acceptedValue.errors">
                You must introduce an integer
            </div>
            <div class="alert alert-danger" *ngIf="timeUnit.touched && timeUnit.invalid">
                You must introduce a time unit
            </div>
        </form>
    </mat-card-content>
</mat-card>