<mat-card class="{{ disabled ? 'collapsed' : ''}}">
    <mat-card-title (click)="disable()">
        {{ruleName == null ? 'null' : ruleName}}
    </mat-card-title>
    <mat-card-content *ngIf="!disabled">
        <form class="form-group">
            <label class="form-item" *ngFor="let level of availableLevels">
                <input type="radio" [id]="level" [name]="ruleName" (change)="setLevel($event)">
                {{ level }}
            </label>
            <div class="values-container mat-elevation-z4">
                <input [(ngModel)]="value" ngModel name="newAcceptedValue" type="text" required minlength="1"
                    pattern="{{ pattern != undefined ? pattern : ''}}" #acceptedValue="ngModel" [disabled]="checked">
                <button class="add-button {{ acceptedValue.valid ? '' : 'disabled'}}" mat-icon-button
                    color="basic" [disabled]="!acceptedValue.valid" #addButton
                    (click)="checked = true">
                    <mat-icon>check</mat-icon>
                </button>
                <button class="edit-button {{ !checked ? 'disabled' : ''}}" mat-icon-button
                    color="basic" [disabled]="!checked" #editButton
                    (click)="checked = false">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="alert alert-danger"
                *ngIf="acceptedValue.touched && acceptedValue.errors && acceptedValue.errors!['pattern']">
                {{ onWrongValue }}
            </div>
            <div class="alert alert-danger"
                *ngIf="acceptedValue.touched && acceptedValue.errors && acceptedValue.errors['required']">
                Please select a value (or any (*))
            </div>
        </form>
    </mat-card-content>
</mat-card>