<div class="valRequest">
    <form>
        <div class="sigSelContainer">
            <label class="req-text">
                <input type="radio" class="req-toggle-button" name="adesType" 
                (change)="selectAdESType(asic);uncheckAllRelativePosOpts();clearFileInputs()">
                ASiC
            </label>
            <label class="req-text">
                <input type="radio" class="req-toggle-button" name="adesType" 
                (change)="selectAdESType(cades);uncheckAllRelativePosOpts();clearFileInputs()">
                CAdES
            </label>
            <label class="req-text">
                <input type="radio" class="req-toggle-button" name="adesType" 
                (change)="selectAdESType(jades);uncheckAllRelativePosOpts();clearFileInputs()">
                JAdES
            </label>
            <label class="req-text">
                <input type="radio" class="req-toggle-button" name="adesType" 
                (change)="selectAdESType(pades);uncheckAllRelativePosOpts();clearFileInputs()">
                PAdES
            </label>
            <label class="req-text">
                <input type="radio" class="req-toggle-button" name="adesType" 
                (change)="selectAdESType(xades);uncheckAllRelativePosOpts();clearFileInputs()">
                XAdES
            </label>
            <div class="relPosContainer">
                <label class="req-text {{ selected == asic || selected == cades || selected == jades ? 'not-selected':'' }}">
                    <input type="radio"  #envelopedRBtn
                        class="req-toggle-button" 
                        name="relPosType" id="enveloped" 
                        [disabled]="selected == cades || selected == jades || selected == asic"
                        (change)="selectRelPosition(enveloped);clearFileInputs()">
                    Enveloped
                </label>
                <label class="req-text {{selected == pades || selected == asic ? 'not-selected':'' }}">
                    <input type="radio" #envelopingRBtn
                        class="req-toggle-button" 
                        name="relPosType" 
                        id="enveloping" 
                        [disabled]="selected == pades || selected == asic"
                        (change)="selectRelPosition(enveloping);clearFileInputs()">
                    Enveloping
                </label>
                <br>
                <label class="req-text {{selected == pades || selected == asic ? 'not-selected':'' }}">
                    <input type="radio" #detachedRBtn
                        class="req-toggle-button" 
                        name="relPosType" 
                        id="detached"
                        [disabled]="selected == pades || selected == asic"
                        (change)="selectRelPosition(detached);clearFileInputs()">
                    Detached
                </label>
                <label class="req-text {{selected != undefined && (selected !== xades || selected == asic) ? 'not-selected':'' }}">
                    <input type="radio" #IntDetachedRBtn
                    class="req-toggle-button"
                    name="relPosType" 
                    id="int_detached"
                    [disabled]="selected != undefined && (selected !== xades || selected == asic)"
                    (change)="selectRelPosition(internally_detached);clearFileInputs()">
                    Internally detached
                </label>
            </div>
            <div class="file-upload-container">
                <label class="req-text">
                    Original File(s)
                </label>
                <button mat-mini-fab type="button" (click)="originalFilesUpload.click()"
                    [disabled]="relativePosition != detached">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <label class="req-text {{originalFiles.length > 0 ? 'removable' : ''}}"
                    (click)="clearLastOriginalFile()">
                    {{ originalFiles.length > 0 ? getOriginalFileNames() : 'No original files uploaded yet.' }}
                </label>
                <input type="file" class="file-input"
                    (change)="onOriginalFilesSelected($event)"
                     #originalFilesUpload>
            </div>
            <div class="file-upload-container">
                <label class="req-text">
                    Signed File
                </label>
                <button mat-mini-fab type="button" (click)="signedFileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <label class="req-text {{signedFile != null ? 'removable' : ''}}"
                    (click)="signedFile = undefined">
                    {{ signedFile != undefined ? signedFile.name : 'No signed file uploaded yet.' }}
                </label>
                <input type="file" class="file-input"
                    (change)="onSignedFileSelected($event)"
                    #signedFileUpload>
            </div>
            <div class="file-upload-container">
                <button mat-raised-button 
                    type="button"
                    [disabled]="!readyToSubmit()"
                    (click)="submit()">
                    Validate
                </button>
            </div>
        </div>

    </form>
</div>
