<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/prettify.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
        eIDAS Validation Service
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened="false" #sidenav>
            <button mat-button class="menu-button">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" (click)="clear()">
                <mat-icon>check_circle_outline</mat-icon>
                <span>Validate</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content class="sigSelContainer mat-elevation-z4">
            <mat-card>
                <mat-card-title class="sub-title">{{validationResponse == null ? 'Validate' : 'Validation Result'}}
                </mat-card-title>
                <mat-card-content id="card-content">
                    <form *ngIf="validationResponse == null" #form>
                        <div class="internalContainer">
                            <label class="req-text">
                                <input type="radio" class="req-toggle-button" name="adesType"
                                    (change)="selectAdESType(asic);uncheckAllRelativePosOpts();clearFileInputs()">
                                ASiC
                            </label>
                            <label class="req-text">
                                <input type="radio" class="req-toggle-button" name="adesType"
                                    (change)="selectAdESType(cades);uncheckAllRelativePosOpts();clearFileInputs()">
                                CAdES
                            </label>
                            <label class="req-text">
                                <input type="radio" class="req-toggle-button" name="adesType"
                                    (change)="selectAdESType(jades);uncheckAllRelativePosOpts();clearFileInputs()">
                                JAdES
                            </label>
                            <label class="req-text">
                                <input type="radio" class="req-toggle-button" name="adesType"
                                    (change)="selectAdESType(pades);uncheckAllRelativePosOpts();clearFileInputs()">
                                PAdES
                            </label>
                            <label class="req-text">
                                <input type="radio" class="req-toggle-button" name="adesType"
                                    (change)="selectAdESType(xades);uncheckAllRelativePosOpts();clearFileInputs()">
                                XAdES
                            </label>
                        </div>
                        <div class="internalContainer">
                            <label
                                class="req-text {{ selected == asic || selected == cades || selected == jades ? 'not-selected':'' }}">
                                <input type="radio" #envelopedRBtn class="req-toggle-button" name="relPosType"
                                    id="enveloped"
                                    [disabled]="selected == cades || selected == jades || selected == asic"
                                    (change)="selectRelPosition(enveloped);clearFileInputs()">
                                Enveloped
                            </label>
                            <label class="req-text {{selected == pades || selected == asic ? 'not-selected':'' }}">
                                <input type="radio" #envelopingRBtn class="req-toggle-button" name="relPosType"
                                    id="enveloping" [disabled]="selected == pades || selected == asic"
                                    (change)="selectRelPosition(enveloping);clearFileInputs()">
                                Enveloping
                            </label>
                            <br>
                            <label class="req-text {{selected == pades || selected == asic ? 'not-selected':'' }}">
                                <input type="radio" #detachedRBtn class="req-toggle-button" name="relPosType"
                                    id="detached" [disabled]="selected == pades || selected == asic"
                                    (change)="selectRelPosition(detached);clearFileInputs()">
                                Detached
                            </label>
                            <label
                                class="req-text {{selected != undefined && (selected !== xades || selected == asic) ? 'not-selected':'' }}">
                                <input type="radio" #IntDetachedRBtn class="req-toggle-button" name="relPosType"
                                    id="int_detached"
                                    [disabled]="selected != undefined && (selected !== xades || selected == asic)"
                                    (change)="selectRelPosition(internally_detached);clearFileInputs()">
                                Internally detached
                            </label>
                        </div>
                        <div class="internalContainer">
                            <label class="req-text">
                                Original File(s)
                            </label>
                            <button class="attach-button {{relativePosition != detached ? 'disabled' : ''}}"
                                mat-mini-fab type="button" (click)="originalFilesUpload.click()"
                                [disabled]="relativePosition != detached">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <label class="req-text {{originalFiles.length > 0 ? 'removable' : ''}}"
                                (click)="clearLastOriginalFile()">
                                {{ originalFiles.length > 0 ? getOriginalFileNames() : 'No original files uploaded yet.'
                                }}
                            </label>
                            <input type="file" class="file-input" (change)="onOriginalFilesSelected($event)"
                                #originalFilesUpload>
                        </div>
                        <div class="internalContainer">
                            <label class="req-text">
                                Signed File
                            </label>
                            <button class="attach-button" mat-mini-fab type="button" (click)="signedFileUpload.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                            <label class="req-text {{signedFile != null ? 'removable' : ''}}"
                                (click)="signedFile = undefined">
                                {{ signedFile != undefined ? signedFile.name : 'No signed file uploaded yet.' }}
                            </label>
                            <input type="file" class="file-input" (change)="onSignedFileSelected($event)"
                                #signedFileUpload>
                        </div>
                        <button mat-raised-button type="button"
                            class="submit-button {{readyToSubmit() ? '':'disabled'}}" (click)="submit()"
                            [disabled]="!readyToSubmit()" disabled="true" #submitButton>
                            Validate
                        </button>
                    </form>
                    <mat-tab-group mat-align-tabs="center" color="accent" *ngIf="validationResponse != null"
                        #reportsTab>
                        <mat-tab label="Simple Report">
                            <div [innerHtml]="simpleReport! | safeHtml"></div>
                        </mat-tab>
                        <mat-tab label="Detailed Report">
                            <div [innerHtml]="detailedReport! | safeHtml"></div>
                        </mat-tab>
                        <mat-tab label="ETSI Validation Report">
                            <pre class="prettyprint lang-xml prettyprinted" style>
                            {{ etsiReport}}
                        </pre>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>

</html>