<mat-card>
    <mat-card-title class="sub-title">{{validationResponse == null ? 'Validate' : 'Validation Result'}}
    </mat-card-title>
    <mat-card-content id="card-content">
        <form class="form" *ngIf="validationResponse == null" #form="ngForm">
            <div class="sigSelContainer">
                <div *ngFor="let adesType of adesTypes">
                    <label class="req-text">
                        <input [(ngModel)]="selected" required type="radio" [value]="adesType"
                            (ngModelChange)="setAdesPossiblePackagingOptions($event)" class="req-toggle-button"
                            name="adesType" (change)="clearFileInputs()"
                            #adesRadioGroup="ngModel">
                        {{ adesType }}
                    </label>
                </div>
            </div>
            <div class="internalContainer">
                <label class="req-text {{ packagingStatus[0] ? 'not-selected':'' }}">
                    <input [(ngModel)]="relativePosition" type="radio" class="req-toggle-button" name="relPosType"
                        id="Enveloped" [attr.disabled]="packagingStatus[0] ? true : null" value="Enveloped"
                        (change)="clearFileInputs()">
                    Enveloped
                </label>
                <label class="req-text {{packagingStatus[1] ? 'not-selected':'' }}">
                    <input [(ngModel)]="relativePosition" type="radio" class="req-toggle-button" name="relPosType"
                        id="Enveloping" value="Enveloping" [attr.disabled]="packagingStatus[1] ? true : null"
                        (change)="clearFileInputs()">
                    Enveloping
                </label>
                <br>
                <label class="req-text {{packagingStatus[2] ? 'not-selected':'' }}">
                    <input [(ngModel)]="relativePosition" type="radio" class="req-toggle-button" name="relPosType"
                        id="Detached" value="Detached" [attr.disabled]="packagingStatus[2] ? true : null"
                        (change)="clearFileInputs()">
                    Detached
                </label>
                <label class="req-text {{packagingStatus[3] ? 'not-selected':'' }}">
                    <input [(ngModel)]="relativePosition" type="radio" class="req-toggle-button" name="relPosType"
                        id="Internally detached" [attr.disabled]="packagingStatus[3] ? true : null"
                        value="Internally detached" (change)="clearFileInputs()">
                    Internally detached
                </label>
            </div>
            <div class="internalContainer">
                <label class="req-text">
                    Original File(s)
                </label>
                <button class="attach-button {{relativePosition != this.adesRelPosition[2] ? 'disabled' : ''}}"
                    mat-mini-fab type="button" (click)="originalFilesUpload.click()"
                    [disabled]="relativePosition != this.adesRelPosition[2]">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <label class="req-text {{originalFiles.length > 0 ? 'removable' : ''}}"
                    (click)="clearLastOriginalFile()">
                    {{ originalFiles.length > 0 ? getOriginalFileNames() : 'No original files uploaded yet.'
                    }}
                </label>
                <input type="file" class="file-input" (change)="onOriginalFilesSelected($event)" #originalFilesUpload>
            </div>
            <div class="internalContainer">
                <label class="req-text">
                    Signed File
                </label>
                <button class="attach-button" mat-mini-fab type="button" (click)="signedFileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <label class="req-text {{signedFile != null ? 'removable' : ''}}" (click)="signedFile = undefined">
                    {{ signedFile != undefined ? signedFile.name : 'No signed file uploaded yet.' }}
                </label>
                <input type="file" class="file-input" (change)="onSignedFileSelected($event)" #signedFileUpload>
            </div>
            <div class="other_options">
                <label class="req-text switch">
                    <input [(ngModel)]="signedEtsiReport" type="checkbox" name="signedETSIReport">
                    <span class="slider round"></span>
                </label>
                <label class="req-text">
                    Signed ETSI report
                </label>
            </div>
            <button mat-raised-button type="button" class="submit-button {{readyToSubmit() ? '':'disabled'}}"
                (click)="submit()" [disabled]="!readyToSubmit()" disabled="true" #submitButton>
                Validate
            </button>
        </form>
        <mat-tab-group mat-align-tabs="center" color="accent" *ngIf="validationResponse != null" #reportsTab>
            <mat-tab label="Simple Report">
                <div [innerHtml]="simpleReport! | safeHtml"></div>
            </mat-tab>
            <mat-tab label="Detailed Report">
                <div [innerHtml]="detailedReport! | safeHtml"></div>
            </mat-tab>
            <mat-tab label="ETSI Validation Report">
                <pre class="prettyprint lang-xml prettyprinted" style>
                            {{ etsiReport}}
                        </pre>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>