<mat-card class="{{disabled ? 'collapsed':''}}">
    <mat-card-title (click)="disable()">{{ruleName == null ? 'null' : ruleName}}</mat-card-title>
    <mat-card-content *ngIf="!disabled">
        <form class="form-group">
            <label class="radio-inline form-item" *ngFor="let level of availableLevels">
                <input [(ngModel)]="selected" required type="radio" [value]="level" [name]="ruleName" (change)="setLevel()" #levelRadio="ngModel">
                    {{ level }}
            </label>
        </form>
    </mat-card-content>
</mat-card>