<mat-card class="{{disabled ? 'collapsed':''}}">
    <mat-card-title (click)="disable()">{{ruleName == null ? 'null' : ruleName}}</mat-card-title>
    <mat-card-content *ngIf="!disabled">
        <form class="form-group">
            <label class="form-item">
                <input type="radio" id="fail" [name]="ruleName" (change)="setLevel($event)">
                FAIL
            </label>

            <label class="form-item">
                <input type="radio" id="warn" [name]="ruleName" (change)="setLevel($event)">
                WARN
            </label>

            <label class="form-item">
                <input type="radio" id="inform" [name]="ruleName" (change)="setLevel($event)">
                INFORM
            </label>

            <label class="form-item">
                <input type="radio" id="ignore" [name]="ruleName" (change)="setLevel($event)">
                IGNORE
            </label>
        </form>
    </mat-card-content>
</mat-card>