.main-title {
    border-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    font-size: xx-large;
}
.app{
    background-color: rgba(68, 113, 209, 0.418);
    width: fit-content;
    margin: auto;
    padding: 2%;
}