<mat-card class="{{disabled ? 'collapsed':''}}">
    <mat-card-title (click)="disable()">{{ruleName == null ? 'null' : ruleName}}</mat-card-title>
    <mat-card-content *ngIf="!disabled">
        <form class="form-group">
            <div class="levels-container">
                <label class="radio-inline form-item" *ngFor="let level of availableLevels">
                    <input [(ngModel)]="selected" required type="radio" [value]="level" [name]="ruleName" (change)="setLevel()" 
                        [disabled]="!checked" #levelRadio="ngModel">
                    {{ level }}
                </label>
            </div>
            <div class="values-container mat-elevation-z4">
                <input [(ngModel)]="newAcceptedValue" ngModel name="newAcceptedValue" type="text" [disabled]="checked"
                    placeholder="{{ placeholder != undefined ? placeholder : ''}}" required minlength="1"
                    pattern="{{pattern != undefined ? pattern : ''}}" #acceptedValue="ngModel">
                <button class="add-button {{ checked || !hasValues() ? 'disabled' : ''}}" mat-icon-button color="basic"
                    [disabled]="checked || !hasValues()" (click)="check(); acceptedValue.reset()">
                    <mat-icon>check</mat-icon>
                </button>
                <button class="add-button {{ acceptedValue.valid ? '' : 'disabled'}}" mat-icon-button color="basic"
                    [disabled]="!acceptedValue.valid" (click)="add()" #addButton>
                    <mat-icon>add</mat-icon>
                </button>
                <button class="edit-button {{ checked ? '' : 'disabled'}}" mat-icon-button color="basic"
                    [disabled]="!checked" (click)="edit(); levelRadio.reset()" #editButton>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="alert alert-danger"
                *ngIf="acceptedValue.touched && acceptedValue.errors && acceptedValue.errors!['pattern']">
                {{ onWrongValue }}
            </div>
            <div class="alert alert-danger"
                *ngIf="acceptedValue.touched && acceptedValue.errors && acceptedValue.errors['required']">
                {{ onEmptyValue }}
            </div>
            <div class="alert alert-dark" *ngFor="let value of acceptedValues">
                <div>
                    <label id="{{value}}" class="new-value">
                        {{value}}
                        <button *ngIf="!checked" class="clear-button" mat-icon-button color="basic"
                            (click)="deleteValue(value)">
                            <mat-icon>delete-outline</mat-icon>
                        </button>
                    </label>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>