<mat-card class="{{disabled ? 'collapsed':''}}">
    <mat-card-title (click)="disable()">{{ruleName == null ? 'null' : ruleName}}</mat-card-title>
    <mat-card-content *ngIf="!disabled">
        <form class="form-group">
            <label class="form-item">
                <input type="radio" id="fail" [name]="ruleName" (change)="setLevel($event)" required>
                FAIL
            </label>

            <label class="form-item">
                <input type="radio" id="warn" [name]="ruleName" (change)="setLevel($event)">
                WARN
            </label>

            <label class="form-item">
                <input type="radio" id="inform" [name]="ruleName" (change)="setLevel($event)">
                INFORM
            </label>

            <label class="form-item">
                <input type="radio" id="ignore" [name]="ruleName" (change)="setLevel($event)">
                IGNORE
            </label>
            <div class="values-container mat-elevation-z4">
                <input [(ngModel)]="newAcceptedValue" 
                    ngModel name="newAcceptedValue" 
                    type="text" placeholder="ASiC-S or ASiC-E" 
                    required minlength="1" 
                    pattern="{{pattern != undefined ? pattern : ''}}" 
                    #acceptedValue="ngModel" (change)="log(acceptedValue)">
                <button class="add-button {{ acceptedValue.valid ? '' : 'disabled'}}" 
                    mat-icon-button color="basic" 
                    [disabled]="!acceptedValue.valid"
                    (click)="add()"
                    #addButton>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="alert alert-danger" *ngIf="acceptedValue.touched && acceptedValue.errors && acceptedValue.errors!['pattern']">
                Invalid container type
            </div>
            <div class="alert alert-danger" *ngIf="acceptedValue.touched && acceptedValue.errors && acceptedValue.errors['required']">
                Please specify a container type
            </div>
            <div class="alert alert-dark" *ngFor="let value of acceptedValues">
                <div>
                    <label id="{{value}}" class="new-value">
                        {{value}}
                        <button class="clear-button" mat-icon-button color="basic" (click)="deleteValue(value)">
                            <mat-icon>delete-outline</mat-icon>
                        </button>
                    </label>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>