<mat-card class="{{disabled ? 'collapsed':''}}">
    <mat-card-title (click)="disable()">Other options</mat-card-title>
    <mat-card-content class="d-flex flex-lg-column" *ngIf="!disabled">
        <div class="p-2 d-flex justify-content-center">
            <label class="switch">
                <input [(ngModel)]="value.signedETSIReport" (change)="onSignedETSIReportChange()" type="checkbox" name="signedETSIReport" id="signedButton">
                <span class="slider round"></span>11
            </label>
            <label class="req-text" for="signedButton">
                Signed ETSI report
            </label>
        </div>
        <div class="p-2 d-flex justify-content-center" style="margin-top: 8mm;">
            <div class="p-2 form-check">
                <input [(ngModel)]="specifyCertificates" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
            <label class="req-text form-check-label" for="flexCheckDefault">
                Certificate
            </label>
            <button [disabled]="!specifyCertificates" class="attach-button attach-button {{ !specifyCertificates ? 'disabled' : ''}}" mat-mini-fab type="button" (click)="signedFileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <label class="req-text {{ this.value.certificateSource.length > 0 ? 'removable' : ''}}" (click)="clearLastCertificate()">
                {{ this.value.certificateSource.length > 0 ? this.value.getCertificateSourceFileNames() : 'No certificate(s).' }}
            </label>
            <input type="file" class="file-input" accept="application/x-x509-ca-cert" (change)="onCertificateFileSelected($event)" #signedFileUpload>
        </div>
        <div class="p-2 d-flex justify-content-center" style="margin-top: 8mm;">
            <div class="p-2 form-check">
                <input [(ngModel)]="specifyPolicy" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
            <label class="req-text">
                Policy
            </label>
            <button [disabled]="!specifyPolicy" class="attach-button {{ !specifyPolicy ? 'disabled' : ''}}" mat-mini-fab type="button" (click)="policyFileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <label class="req-text {{ this.value.policy != undefined ? 'removable' : ''}}" (click)="this.value.policy = undefined">
                {{ this.value.policy != undefined ? this.value.policy.name : 'No policy uploaded yet.' }}
            </label>
            <input type="file" class="file-input" accept="application/xml" (change)="onPolicyFileSelected($event)" #policyFileUpload>
        </div>
    </mat-card-content>
</mat-card>