<mat-card class="{{disabled ? 'collapsed':''}}">
    <mat-card-title (click)="disable()">Other options</mat-card-title>
    <mat-card-content class="d-flex flex-lg-column" *ngIf="!disabled">
        <div class="p-2 d-flex justify-content-center">
            <label class="switch">
                <input [(ngModel)]="value.signedETSIReport" (change)="onSignedETSIReportChange()" type="checkbox"
                    name="signedETSIReport" id="signedButton">
                <span class="slider round"></span>11
            </label>
            <label class="req-text" for="signedButton">
                Signed ETSI report
            </label>
        </div>
        <div class="p-2 d-flex justify-content-center" style="margin-top: 8mm;">
            <div class="p-2 form-check">
                <input [(ngModel)]="specifyCertificates" class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault">
            </div>
            <label class="req-text form-check-label" for="flexCheckDefault">
                Certificate
            </label>
            <button [disabled]="!specifyCertificates"
                class="attach-button attach-button {{ !specifyCertificates ? 'disabled' : ''}}" mat-mini-fab
                type="button" (click)="signedFileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <label class="req-text {{ this.value.certificateSource.length > 0 ? 'removable' : ''}}"
                (click)="clearLastCertificate()">
                {{ this.value.certificateSource.length > 0 ? this.value.getCertificateSourceFileNames() : 'No certificate(s).' }}
            </label>
            <input type="file" class="file-input" accept="application/x-x509-ca-cert"
                (change)="onCertificateFileSelected($event)" #signedFileUpload>
        </div>
        <div class="p-2 d-flex justify-content-center" style="margin-top: 8mm; border: 3px solid #05487f; padding-left: 44px; border-radius: 5px;">
            <div class="p-2 form-check align-self-center" style="margin-top: 10px;">
                <input [(ngModel)]="specifyPolicy" class="form-check-input" type="checkbox" value=""
                    id="policyCkeckButton">
                <label class="req-text" for="policyCkeckButton" style="margin-top: 1px;">
                    Policy
                </label>
            </div>
            <div class="p-2 d-flex flex-lg-column align-self-center">
                <div>
                    <button [disabled]="!specifyPolicy" class="attach-button {{ !specifyPolicy ? 'disabled' : ''}}"
                        mat-mini-fab type="button" (click)="policyFileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <label class="req-text {{ this.value.policy != undefined ? 'removable' : ''}}"
                        (click)="this.value.policy = undefined">
                        {{ this.value.policy != undefined ? this.value.policy.name : 'No policy uploaded yet.' }}
                    </label>
                    <input type="file" class="file-input" accept="application/xml"
                        (change)="onPolicyFileSelected($event)" #policyFileUpload>
                </div>
                <div class="input-group rounded" style="margin-top: 36px;">
                    <input type="search" [disabled]="!specifyPolicy" class="form-control rounded" placeholder="Search by policyID"
                        aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>