<mat-tab-group class="mat-elevation-z4" backgroundColor="accent" mat-align-tabs="center" color="basic">
    <mat-tab label="Container"><app-container-constraints #containerConstraints></app-container-constraints></mat-tab>
    <mat-tab label="Signature">Signature</mat-tab>
    <mat-tab label="CounterSignature">CounterSignature</mat-tab>
    <mat-tab label="Timestamp">Timestamp</mat-tab>
    <mat-tab label="Revocation">Revocation</mat-tab>
    <mat-tab label="Cryptographic">Cryptographic</mat-tab>
    <mat-tab label="Model">Model</mat-tab>
    <mat-tab label="eIDAS">eIDAS</mat-tab>
</mat-tab-group>