<mat-tab-group class="mat-elevation-z4" backgroundColor="accent" mat-align-tabs="center" color="basic">
    <mat-tab label="Container">
        <app-container-constraints
            [constraints_config]="containerConst"
            (changedConstraintSet)="this.policyRequest.containerConstraints = $event; log(this.policyRequest)"
            #containerConstraints>
        </app-container-constraints>
    </mat-tab>
    <mat-tab label="Signature">
        <app-signature-constraints 
            [constraints_config]="signatureConst"
            (changedConstraintSet)="this.policyRequest.signatureConstraints = $event; log(this.policyRequest)"
            #signatureConstraints>
        </app-signature-constraints>
    </mat-tab>
    <mat-tab label="Counter-signature">
        <app-signature-constraints
            [constraints_config]="counterSigConst"
            (changedConstraintSet)="this.policyRequest.counterSignatureConstraints = $event; log(this.policyRequest)"
            #counterSignatureConstraints>
        </app-signature-constraints>
    </mat-tab>
    <mat-tab label="Timestamp">
        <app-timestamp-constraints
            [constraints_config]="timestampConst"
            (changedConstraintSet)="this.policyRequest.timeStampConstraints = $event; log(this.policyRequest)">
        </app-timestamp-constraints>
    </mat-tab>
    <mat-tab label="Revocation">
        <app-constraints
            [constraints_config]="revocationConst">
        </app-constraints>
    </mat-tab>
    <mat-tab label="Cryptographic">
        <app-cryptographic-constraint ruleName="Cryptographic Constraints">

        </app-cryptographic-constraint>
    </mat-tab>
    <mat-tab label="Model">
        <app-model-constraint ruleName="Model Constraints"></app-model-constraint>
    </mat-tab>
    <mat-tab label="eIDAS">
        <app-constraints
            [constraints_config]="eidasConst">
        </app-constraints>
    </mat-tab>
</mat-tab-group>