<mat-card class="mat-elevation-z4">
    <mat-card-title>Container Constraints</mat-card-title>
    <mat-card-content *ngFor="let constraint of constraints">
        <app-level-constraint class="constraint" *ngIf="isLevelConstraint(constraint)" [ruleName]="constraint.ruleName"></app-level-constraint>
        <app-multi-values-constraint class="constraint" *ngIf="isMultiValuesConstraint(constraint)" [ruleName]="constraint.ruleName" [pattern]="constraint.pattern"></app-multi-values-constraint>
    </mat-card-content>
</mat-card>